# Massey Ordinals Explore
of interest: POM, SAG, MAS

In [1]:
import pandas as pd

In [48]:
data_dir = '../NCAA/Data/'
df_rank = pd.read_csv(data_dir+ 'MasseyOrdinals.csv')
df_rank.size

df_rank = df_rank[df_rank.RankingDayNum>=133]
# df_rank = df_rank[df_rank.Season >= 2013]
df_inv = df_rank[df_rank.SystemName=='MAS']
df_inv.head()

        Season  RankingDayNum SystemName  TeamID  OrdinalRank
126278    2003            133        MAS    1102          172
126279    2003            133        MAS    1103          163
126280    2003            133        MAS    1104           41
126281    2003            133        MAS    1105          310
126282    2003            133        MAS    1106          270

In [51]:
df_inv.OrdinalRank.unique()

array([172, 163,  41, 310, 270, 304, 266, 183, 160,   3,  40, 142, 315,
       130, 184, 320,  45,  72, 157,  99, 168, 316, 200, 215, 193,  44,
       125, 161, 173, 126, 228, 274,  26,  31,  36, 176,  30, 317, 243,
       236, 242, 271,  98, 135, 312,  54, 305,  97, 254, 277,  91, 233,
        32,  84, 324,  24, 282, 280,  19, 239, 196, 226, 287, 156,  17,
       179, 247, 152,  71,  86, 218, 112,  10, 221, 178, 272, 175, 134,
       169, 276, 132, 158, 260, 123, 291,   9, 261, 246,  90, 297,  81,
       232, 145, 212, 300, 146,  78,  12, 231,  67,  49, 284, 237, 191,
       244, 118, 309, 269,  56, 194, 283, 214, 186,  58,  11, 211,  46,
       262, 159,  92,  75, 268, 133, 278, 240, 170, 220,   5, 116,  80,
         1, 167, 245, 235, 224, 281, 311, 295, 286, 180,  14, 229, 314,
       129,  25, 225,  61, 195,  13, 171,  28, 185, 199, 323,  18, 107,
       139, 147,  63,  37,  83,  79,  16,  21, 251, 103, 227, 205, 234,
       117, 321, 319, 248, 285, 131, 138, 108, 296, 327,  48, 155, 101,
       307, 192,  89, 177, 141, 322, 294,  55, 255, 203, 197, 187, 165,
       302,  23, 182, 137,  62,   4,  29, 189, 174,  34, 127, 209,  39,
       213, 150,   2, 201, 293, 219, 149,  57,  47, 217, 292,  82, 106,
       102, 222, 288, 121, 210,  33, 303, 104, 202,  85, 114, 122, 273,
       136, 204, 325, 253, 252,  50, 140, 128, 119, 162,  88, 113, 153,
       313, 263, 105, 257, 256,  69,  22,  64, 164, 250,  27, 301, 267,
         7, 238, 188,  68,  43, 326, 120,   6,  93, 198,  42, 206, 143,
       318,  60, 111,  66, 306, 249,  70, 109, 275, 144, 115,  65, 241,
       308, 265, 290,  52,  59,  95, 190, 264,  35,  96, 298, 124,  87,
       110, 148,  73,  76, 154, 279, 289, 299,  51,  77, 166,   8, 151,
       216,  53, 100, 230,  38,  94, 258, 207,  20, 208, 223,  74,  15,
       181, 259, 329, 330, 328, 347, 346, 340, 336, 341, 335, 344, 337,
       333, 339, 343, 332, 345, 342, 334, 331, 338, 349, 348, 351, 350], dtype=int64)

In [50]:
df = df_rank.groupby('SystemName')['Season'].nunique()
print(df)

SystemName
7OT     6
ACU     5
ADE     5
AP     15
ARG     5
AUS     1
BBT     6
BCM     1
BD      2
BIH    14
BKM     1
BLS     4
BNM     1
BOB    14
BPI     5
BRZ     1
BUR     5
BWE     3
CJB     3
CMV     1
CNG    14
COL    15
CPA     9
CPR    10
CRO     6
CRW     1
D1A     4
DAV     2
DC     13
DC2     4
       ..
SGR     1
SIM     6
SMN     1
SMS     1
SP      4
SPR     4
SPW    10
STF     2
STH    10
STR     3
STS     2
TBD     1
TMR     5
TPR     5
TRK     3
TRP     4
TRX     3
TSR     5
TW      5
UCS     1
UPS     1
USA    15
WIL    12
WLK    15
WMR     1
WOB    14
WOL    15
WTE     1
YAG     1
ZAM     1
Name: Season, Length: 150, dtype: int64